@model List<ExpenseManagement.Models.Expense>

@{
    ViewData["Title"] = "Dashboard";
}

<div class="text-center">
    <h1 class="display-4">Expense Management Dashboard</h1>
</div>
<div class="text-center row">
    <h1 class="expense-status">New Expenses</h1>
</div>
<div class="row">
        @foreach (var expense in Model)
        {
            @if (expense.Status == "New")
            {
                <div class="card col-md-3 status-new expense-card shadow-sm">
                    <div class="card-body">
                        <h5 class="card-title">@expense.Description</h5>
                        <h6 class="card-subtitle mb-2 text-muted">@expense.Date</h6>
                        <p class="card-text text-truncate">@expense.Comments</p>
                        <p class="card-text">@expense.UserId @expense.UserId</p>
                        <a href="/Expense/Detail/@expense.ID" class="card-link">See Detail</a>
                    </div>
                </div>
            }
        }
</div>
<div class="text-center row">
    <h1 class="expense-status">In Review</h1>
</div>
<div class="row">
        @foreach (var expense in Model)
        {
            @if (expense.Status == "In Review")
            {
                <div class="card col-md-3 status-review expense-card">
                    <div class="card-body">
                        <h5 class="card-title">@expense.Description</h5>
                        <h6 class="card-subtitle mb-2 text-muted">@expense.Date</h6>
                        <p class="card-text text-truncate">@expense.Comments</p>
                        <p class="card-text">@expense.UserId @expense.UserId</p>
                        <a href="/Expense/Detail/@expense.ID" class="card-link">See Detail</a>
                    </div>
                </div>
            }
        }
</div>
<div class="text-center row">
    <h1 class="expense-status">Approved - Pending payment</h1>
</div>
<div class="row">
        @foreach (var expense in Model)
        {
            @if (expense.Status == "Approved - Pending Payment")
            {
                <div class="card col-md-3 status-approved expense-card">
                    <div class="card-body">
                        <h5 class="card-title">@expense.Description</h5>
                        <h6 class="card-subtitle mb-2 text-muted">@expense.Date</h6>
                        <p class="card-text text-truncate">@expense.Comments</p>
                        <p class="card-text">@expense.UserId @expense.UserId</p>
                        <a href="/Expense/Detail/@expense.ID" class="card-link">See Detail</a>
                    </div>
                </div>
            }
        }
</div>
<div class="text-center row">
    <h1 class="expense-status">Paid Expenses</h1>
</div>
<div class="row">
        @foreach (var expense in Model)
        {
            @if (expense.Status == "Paid")
            {
                <div class="card col-md-3 status-paid expense-card">
                    <div class="card-body">
                        <h5 class="card-title">@expense.Description</h5>
                        <h6 class="card-subtitle mb-2 text-muted">@expense.Date</h6>
                        <p class="card-text text-truncate">@expense.Comments</p>
                        <p class="card-text">@expense.UserId @expense.UserId</p>
                        <a href="/Expense/Detail/@expense.ID" class="card-link">See Detail</a>
                    </div>
                </div>
            }
        }
</div>
<div class="text-center row">
    <h1 class="expense-status">Rejected Expenses</h1>
</div>
<div class="row">
        @foreach (var expense in Model)
        {
            @if (expense.Status == "Rejected")
            {
                <div class="card col-md-3 status-rejected expense-card">
                    <div class="card-body">
                        <h5 class="card-title">@expense.Description</h5>
                        <h6 class="card-subtitle mb-2 text-muted">@expense.Date</h6>
                        <p class="card-text text-truncate">@expense.Comments</p>
                        <p class="card-text">@expense.UserId @expense.UserId</p>
                        <a href="/Expense/Detail/@expense.ID" class="card-link">See Detail</a>
                    </div>
                </div>
            }
        }
</div>


